@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  
  /* Custom Brand Colors */
  --brand-black: #000000;
  --brand-red: #710505;
  --brand-white: #f6f6f6;
  --brand-beige: #ac8d79;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);

  /* Expose custom colors to Tailwind */
  --color-brand-black: var(--brand-black);
  --color-brand-red: var(--brand-red);
  --color-brand-white: var(--brand-white);
  --color-brand-beige: var(--brand-beige);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode default */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}